<footer class="footer">
  <small>
    Created by <a href="https://www.github.com/SwittS">Switt Srikulacheep</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li>
    </ul>
  </nav>
</footer>
