<div>
  Library: <%= @library.name %> <br>
  The floor count is at: <%= @library.floor_count %> <br>
  The floor area size is: <%= @library.floor_area %> <br>
  <%= button_to "Delete", @library, method: :delete %>
</div>
